<div class="container">
  <div class="row justify-content-center">
    <div class="card text-center">
      <div class="card-header"> Perfil do eleitor por sexo em {{city}}</div>
      <div class="card-body">
        <div class="chartGender">
          <canvas height="300" width="400" id="myChartGender"></canvas>
        </div>
      </div>
    </div>
    <div class="card text-center border">
      <div class="card-header"> Perfil do eleitor por faixa etária de idade em {{city}}</div>
      <div class="card-body">
        <div class="chartAge">
          <canvas height="300" width="600" id="myChartAge"  ></canvas>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-after: always"></div>
  <div class="row justify-content-xl-center">
    <div class="card text-center border">
      <div class="card-header"> Perfil do eleitor por ocupação profissional em {{city}}</div>
      <div class="card-body">
        <div class="chartOccupation">
          <canvas height="300" width="500"id="myChartOccupation"></canvas>
        </div>
      </div>
    </div>
    <div class="card text-center border">
      <div class="card-header"> Perfil do eleitor por situação de moradia em {{city}}</div>
      <div class="card-body">
        <div class="chartHousing">
          <canvas height="300" width="450" id="myChartHousing"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-after: always"></div>
  <div class="row justify-content-xl-center">
  </div>
  <div style="page-break-after: always"></div>
  <div class="row justify-content-xl-center">
    <div class="card text-center border">
      <div class="card-header"> Perfil do eleitor por Religião em {{city}}</div>
      <div class="card-body">
        <div class="chartReligion">
          <canvas height="300" width="600" id="myChartReligion"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-after: always"></div>
  <div class="row justify-content-xl-center">
    <div class="card text-center border">
      <div class="card-header"> Avaliação Administrativa da Prefeitura em {{city}}</div>
      <div class="card-body">
        <div class="chartAvaPref">
          <canvas height="300" width="400" id="myChartAvaPref"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-after: always"></div>
  <div class="row justify-content-xl-center">
    <div class="card text-center border">
      <div class="card-header"> Avaliação do Governo do Estado </div>
      <div class="card-body">
        <div class="chartAvaGov">
          <canvas height="300" width="500" id="myChartAvaGov"></canvas>
        </div>
      </div>
    </div>
    <div class="card text-center border">
      <div class="card-header"> Avaliação da Presidência</div>
      <div class="card-body">
        <div class="chartAvaPres">
          <canvas height="300" width="500" id="myChartAvaPres"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-after: always"></div>
  <div class="row justify-content-xl-center">
    <div class="card text-center border">
      <div class="card-header"> Votos Espontâneos para governador </div>
      <div class="card-body">
        <div class="spontGovChart">
          <canvas height="300" width="600" id="spontGovChart"></canvas>
        </div>
      </div>
    </div>
    <div class="card text-center border">
      <div class="card-header">Rejeição candidatos a governador</div>
      <div class="card-body">
        <div class="spontRejGovChart">
          <canvas height="300" width="600" id="spontRejGovChart"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-after: always"></div>
  <div class="row justify-content-xl-center">
    <div class="card text-center border">
      <div class="card-header">Intenção de votos estimulada para Governador</div>
      <div class="card-body">
        <div class="myChartEstimGov">
          <canvas height="300" width="500" id="myChartEstimGov"></canvas>
        </div>
      </div>
    </div>
    <div class="card text-center border">
      <div class="card-header">Rejeição estimulada para Governador</div>
      <div class="card-body">
        <div class="myChartRejEstimGov">
          <canvas height="300" width="500" id="myChartRejEstimGov"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-after: always"></div>
  <div class="row justify-content-xl-center">
    <div class="card text-center border">
      <div class="card-header">Intenção de votos estimulada para Presidente</div>
      <div class="card-body">
        <div class="myChartEstimPres">
          <canvas height="300" width="500" id="myChartEstimPres"></canvas>
        </div>
      </div>
    </div>
    <div class="card text-center border">
      <div class="card-header">Rejeição estimulada para Presidente</div>
      <div class="card-body">
        <div class="myChartRejEstimPres">
          <canvas height="300" width="500" id="myChartRejEstimPres"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-after: always"></div>
  <div class="row justify-content-xl-center">
    <div class="card text-center border">
      <div class="card-header">Intenção de votos estimulada para Senador</div>
      <div class="card-body">
        <div class="myChartEstimSenator">
          <canvas height="300" width="500" id="myChartEstimSenator"></canvas>
        </div>
      </div>
    </div>
    <div class="card text-center border">
      <div class="card-header">Rejeição estimulada para Senador</div>
      <div class="card-body">
        <div class="myChartRejEstimSenator">
          <canvas height="300" width="500" id="myChartRejEstimSenator"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-after: always"></div>
  <div class="row justify-content-xl-center">
  <div class="card text-center border">
    <div class="card-header"> Intenção de votos para deputado Federal </div>
    <div class="card-body">
      <div class="myChartFederalDep">
        <canvas height="500" width="500" id="myChartFederalDep"></canvas>
      </div>
    </div>
    </div>
  </div>
  <div style="page-break-after: always"></div>
  <div class="row justify-content-xl-center">
    <div class="card text-center border">
      <div class="card-header"> Intenção de votos para deputado Estadual </div>
      <div class="card-body">
        <div class="myChartStateDep">
          <canvas height="500" width="500" id="myChartStateDep"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-after: always"></div>
  <div class="row justify-content-xl-center">
    <div class="card text-center border">
      <div class="card-header"> Aceita indicação do prefeito para Presidente </div>
      <div class="card-body">
        <div class="charEspIndPref">
          <canvas height="300" width="500" id="myChartIndPresident"></canvas>
        </div>
      </div>
    </div>
    <div class="card text-center border">
      <div class="card-header"> Aceita indicação do prefeito para Governador </div>
      <div class="card-body">
        <div class="charEspIndPref">
          <canvas height="300" width="500" id="myChartIndGovernor"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-after: always"></div>
  <div class="row justify-content-xl-center">
    <div class="card text-center border">
      <div class="card-header"> Aceita indicação do prefeito para Senador </div>
      <div class="card-body">
        <div class="myChartIndSenator">
          <canvas height="300" width="500" id="myChartIndSenator"></canvas>
        </div>
      </div>
    </div>
    <div class="card text-center border">
      <div class="card-header"> Aceita indicação do prefeito para Deputado Federal </div>
      <div class="card-body">
        <div class="myChartIndDepFed">
          <canvas height="300" width="500" id="myChartIndDepFed"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-after: always"></div>
  <div class="row justify-content-xl-center">
    <div class="card text-center border">
      <div class="card-header"> Aceita indicação do prefeito para Deputado Estadual </div>
      <div class="card-body">
        <div class="myChartIndDepState">
          <canvas height="300" width="500" id="myChartIndDepState"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-after: always"></div>
  <div class="row justify-content-xl-center">
    <div class="card text-center border">
      <div class="card-header"> Votos Espontâneos para prefeito </div>
      <div class="card-body">
        <div class="charEspPref">
          <canvas height="300" width="600" id="myChartEspPref"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div style="page-break-after: always"></div>
  <div class="card text-center border">
    <div class="card-header">Demandas Sociais</div>
    <div class="card-body">
      <div class="myChartSocialDemands">
        <canvas id="myChartSocialDemands" height="500" width="500" ></canvas>
      </div>
    </div>
  </div>
  <div style="page-break-after: always"></div>
</div>
