<div [@routerTransition]>
  <app-page-header [heading]="" [icon]="'fa-table'"></app-page-header>
  <div class="row">
    <div class="col col-xl-12 col-lg-12">
      <div class="card mb-3">
        <div class="card-header">
          <div style="display: flex; justify-content: space-between;">
            <h4>Cadastrar Secretaria da Atual Administação</h4>
          </div>
        </div>
        <div class="card-body table-responsive">
          <form [formGroup]="form" (ngSubmit)="doSubmit()">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Nome da Secretaria" formControlName="name">
            </div> 
            <button type="reset" class="btn btn-warning" style="margin-right: 10px;">Limpar</button>
            <button type="submit" class="btn btn-success" [disabled]="!form.valid">Salvar</button>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
